* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
  }

.container input {
  height: 40px;
  width: 200px;
  margin: 0 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-color: rgba(84, 84, 84,0.3);
  border: none;
  padding: 0 10px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container input::placeholder{
    color: white;
    font-weight: bolder;
  }

.container input:focus {
  padding: 0 10px;
} 

.container button {
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color:  rgba(84, 84, 84, 0.3);
}

button::placeholder {
  align-items: center;
  justify-content: center;
  padding: 0;
}